@font-face {
    src: url('fonts/Oswald-VariableFont_wght.ttf');
    font-family: 'O';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hora {
    text-align: right;

    margin: 10px;
}

.all-noticias {
    font-family: 'O';
    font-size: 1.3rem;

    width: 80rem;

    margin: auto;
}

.noticia-1-2 {
    margin-top: 2rem;

    width: 80rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noticia-1 {
    border: 1px solid;

    padding: 2rem;

    text-align: center;
}

.p_noticia-1 {
    width: 30rem;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    text-align: justify;
}

.noticia-2 {
    border: 1px solid;

    padding: 2rem;

    text-align: center;
}

.p_noticia-2 {
    width: 30rem;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    text-align: justify;
}

.noticia-3-4 {
    margin-top: 2rem;

    width: 80rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noticia-3 {
    border: 1px solid;

    padding: 2rem;

    text-align: center;
}

.p_noticia-3 {
    width: 30rem;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    text-align: justify;
}

.noticia-4 {
    border: 1px solid;

    padding: 2rem;

    text-align: center;
}

.p_noticia-4 {
    width: 30rem;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    text-align: justify;
}

.imagem {
    width: 30rem;
    height: 20rem;

    margin: auto;
}

@media(max-width: 1100px) {

    .menu{
        width: 200px
    }

    .all-noticias {
        width: 700px;

        margin: auto;
    }

    .noticia-1-2 {
        display: grid;
    }
    
    .noticia-1 {
        width: 560px;
    }
    
    .noticia-2 {
        margin-top: 2rem;

        width: 560px;
    }

    .noticia-3-4 {
        display: grid;
        width: 560px;
    }
    
    .noticia-3 {
        width: 560px;
    }
    
    .noticia-4 {
        margin-top: 2rem;

        width: 560px;
    }
}