@font-face {
    src: url('fonts/TitilliumWeb-Black.ttf');
    font-family: 'T-Black';
}

@font-face {
    src: url('fonts/TitilliumWeb-Regular.ttf');
    font-family: 'T-Regular';
}

@font-face {
    src: url('fonts/Oswald-VariableFont_wght.ttf');
    font-family: 'O';
}

