@font-face {
    src: url('fonts/TitilliumWeb-Black.ttf');
    font-family: 'T-Black';
}

@font-face {
    src: url('fonts/TitilliumWeb-Regular.ttf');
    font-family: 'T-Regular';
}

@font-face {
    src: url('fonts/Rowdies-Regular.ttf');
    font-family: 'R';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#interface {
    background: url('imagens-css/background-gramado-3.jpg');

    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo {
    font-family: 'T-black';
    font-size: 10rem;

    color: white;
}

#menu {
    background: #222;
}

.interface-menu {
    background: #222;
    font-family: 'T-regular';
    font-size: 1.5rem;

    margin: auto;
    width: 1440px;

    position: relative;

}

a {
    text-decoration: none;
    list-style: none;
}

.menu {
    color: white;

    display: inline-block;

    text-align: center;

    width: 11.5rem;
    padding: 0.5rem;

    transition: ease 0.3s;
}

.cascata {
    background: white;
    font-size: 1.4rem;

    position: absolute;

    margin-top: 8px;
    margin-left: -8px;

    display: none;
}

.cascata a {
    color: #222;
}

.cascata li {
    width: 11.5rem;
    padding: 0.5rem;

    transition: ease 0.5s;
}

.menu:hover {
    background: rgb(2, 102, 160);
    color: rgb(255, 255, 255);

    cursor: pointer;
}

.menu:hover .cascata {
    display: block;
}

.cascata li:hover {
    background: rgb(0, 146, 231);
    color: white;
}

.cascata li:active{
    background: rgb(2, 102, 160);
}

#serie-name{
    background: #222;
    
    font-family: 'O';
    font-size: 70pt;
    
    text-align: center;
    text-shadow: 5px 5px 3px black;
    
    margin: auto;
    padding: 10px;
    
    color: white;
}