
.all-noticias{
    width: 1400px;
    height: 2000px;
    margin: auto;
}

.noticia{
    margin: 2px auto;
    width: 600px;
    border: solid #222;
    padding: 10px;
}

.noticia-1{
    float: left;
}

.imagem-noticia-1{
    width: 600px;
    vertical-align: center;
}

.h1_noticia-1{
    font-family: 'O';
    text-align: center;
}

.p_noticia-1{
    font-family: 'T-Regular';
    text-align: justify;
    font-size: 15pt;
    padding: 5px;
}

.noticia-2{
    float: right;
}

.imagem-noticia-2{
    width: 600px;
    vertical-align: center;
}

.h1_noticia-2{
    font-family: 'O';
    text-align: center;
}

.p_noticia-2{
    font-family: 'T-Regular';
    text-align: justify;
    font-size: 15pt;
    padding: 5px;
}

.noticia-3{
    float: left;
    margin-top: 40px;
}

.imagem-noticia-3{
    width: 600px;
    vertical-align: center;
}

.h1_noticia-3{
    font-family: 'O';
    text-align: center;
}

.p_noticia-3{
    font-family: 'T-Regular';
    text-align: justify;
    font-size: 15pt;
    padding: 5px;
}

.noticia-4{
    float: right;
    margin-top: 10px;
}

.imagem-noticia-4{
    width: 600px;
    vertical-align: center;
}

.h1_noticia-4{
    font-family: 'O';
    text-align: center;
}

.p_noticia-4{
    font-family: 'T-Regular';
    text-align: justify;
    font-size: 15pt;
    padding: 5px;
}

.hora{
    font-family: 'T-Regular';
    font-size: 10pt;
}
